[data-theme="dark"] {
  background-color: #070d15 !important;
  color: #cdcef7;
}

[data-theme="dark"] #hero {
  background-color: #070d15 !important;
}


[data-theme="dark"] #hero h1 {
  color: #eee;
}

[data-theme="dark"] #hero p {
  color: #eee;
}

[data-theme="dark"] #hero p span {
  border-bottom: 3px solid #28A745;
}

[data-theme="dark"] .bg-light {
  background-color: #070d15 !important;
  color: #eee;
}

[data-theme="dark"] .bg-white {
  background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
  background-color: #eee !important;
}

[data-theme="dark"] .skills{
  background-color: #070d15 !important;
}

[data-theme="dark"] .skills .progress .skill {
  color: #169DDD;
}

[data-theme="dark"] .skills .progress-bar {
  background-color: #28A745;
}

[data-theme="dark"] .section-title h2 {
  color: #eee;
}

[data-theme="dark"] .section-title h2::after {
  background: #28A745;
}

[data-theme="dark"] .about .content h3 {
  color: #eee;
}

[data-theme="dark"] .about .content ul i {
  color: #28A745;
}

[data-theme="dark"] a {
  color: #28A745;
}

[data-theme="dark"] a:hover {
  color: #eee;
}

[data-theme="dark"] .resume .resume-title {
  color: #169DDD;
}

[data-theme="dark"] .resume .resume-item {
  border-left: 2px solid #28A745;
}

[data-theme="dark"] .resume .resume-item::before {
  border: 2px solid #28A745;
}

[data-theme="dark"] .resume .resume-item h4 {
  color: #169DDD;
}

[data-theme="dark"] .resume .resume-item h5 {
  background: #0e1927;
}

[data-theme="dark"] .contact .info {
  background: #070d15;
  box-shadow: 0 0 10px 0 rgba(147, 145, 145, 0.12);
}

[data-theme="dark"] .contact .php-email-form {
  background: #070d15;
  box-shadow: 0 0 10px 0 rgba(147, 145, 145, 0.12);
}

[data-theme="dark"] .contact .php-email-form button[type="submit"] {
  background: #28A745;
  color: #fff;
}

[data-theme="dark"] .contact .php-email-form button[type="submit"]:hover {
  background: #4bd46b;
}

[data-theme="dark"] .form-control {
  color: #cdcef7;
  background: #070d15;
  border-color: #cdcef7;
}

[data-theme="dark"] .form-control:focus {
  border-color: #169DDD;
}

[data-theme="dark"] .back-to-top {
  background: #28A745;
  color: #fff;
}

[data-theme="dark"] .back-to-top:hover {
  color: #fff;
  background: #4bd46b;
}

[data-theme="dark"] .mobile-nav-toggle i {
  color: #28A745;
}

[data-theme="dark"] .medium-widget-article__title {
  color: #169DDD!important;
}
[data-theme="dark"] .medium-widget-article__title:hover {
  color: #28A745!important;
}

[data-theme="dark"] .medium-widget-article__description {
  color: #cdcef7!important;
}

[data-theme="dark"] .medium-widget-article__author-name {
  color: #cdcef7!important; 
}

[data-theme="dark"] .medium-widget-article__date {
color: #cdcef7!important;
}